:root {
  --font-font-stack-retina: "Retina", "Helvetica", "Arial", sans-serif;
}
.TeslaBlogsContainer {
  padding: 20px;
  text-align: center;
}
.TeslaBlogsContainer h2 {
  margin-bottom: 20px;
}

.TeslaBlogsContainer .blogs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.TeslaBlogsContainer .blog-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  font-family: var(--font-font-stack-retina);
}

.TeslaBlogsContainer .blog-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.TeslaBlogsContainer .blog-details {
  padding: 15px;
}

.TeslaBlogsContainer h3 {
  margin-bottom: 10px;
  color: #333;
  cursor: pointer;
}
.TeslaBlogsContainer h3:hover {
  color: #007bff;
}

.TeslaBlogsContainer a {
  color: #007bff;
  text-decoration: none;
}

.TeslaBlogsContainer a:hover {
  text-decoration: underline;
}

.TeslaBlogsContainer .default-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #eee;
  color: #888;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.TeslaBlogsContainer .default-image:before {
  content: "No Image";
}
